@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-[551px_auto];
}

/* amimations */
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slideIn 300ms ease forwards;
}

/* card */
.card-action-animate::before {
  content: '';
  @apply absolute inset-0 bg-white rounded-full scale-x-0 origin-right transition-transform duration-300 ease-in-out z-0;
}

.card-animate:hover .card-action-animate::before {
  @apply scale-x-100;
}

.card-action-animate-label {
  @apply opacity-0 translate-x-5 transition-all duration-100 ease-out relative;
}

.card-animate:hover .card-action-animate-label {
  @apply opacity-100 translate-x-0;
}

.lucide {
  stroke-width: 1.2px;
}

/* mapbox zoom buttons */
.mapbox-zoom-buttons {
  @apply absolute top-8 right-8 flex flex-col space-y-2 bg-background rounded-full shadow-md;
}
.mapbox-zoom-buttons button {
  @apply rounded-b-none w-8 h-8 px-1 pb-2 pt-4;
}
.mapbox-zoom-buttons button:last-child {
  @apply rounded-t-none rounded-b-full pb-4 pt-2;
}

/* mapbox footer */
.mapboxgl-control-container {
  @apply absolute bottom-8 left-8;
}

/* mapbox popup */
.mapboxgl-popup {
  @apply rounded-lg;
}
.mapboxgl-popup-content {
  @apply p-4 shadow-md shadow-black;
}
.mapboxgl-popup-close-button {
  display: none;
}

/* station table */
.table-container {
  overflow-x: auto;
}

.station-table {
  width: 100%;
  border-collapse: collapse;
}

.table-header {
  text-align: left;
  border-bottom: 2px solid white;
  cursor: pointer;
  position: relative;
}

.table-row:nth-child(even) {
  background-color: #f9f9f9;
}

.table-cell {
  padding: 10px;
  border-bottom: 1px dotted #ccc;
}

.sort-icons {
  display: inline-flex;
  flex-direction: column;
  margin-left: 8px;
}

.sort-icon {
  font-size: 10px;
  color: #999;
}

.sort-icon.active {
  color: #333;
}
